html, body {
  margin 0
  padding 0
  width 100%
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
  box-sizing border-box
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font-weight: normal
  vertical-align: baseline
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

body
  line-height: 1

//background: linear-gradient(#FD5140, #FA3F33);

blockquote, q
  quotes: none

blockquote:before, blockquote:a.fter,
q:before, q:a.fter
  content: none

table
  border-collapse: collapse
  border-spacing: 0

/* custom */

a
  color: #7e8c8d
  -webkit-backface-visibility: hidden
  text-decoration: none

em, i
  font-style normal

li
  list-style: none

body
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: gba(0, 0, 0, 0)

input, textarea {
  -webkit-appearance none
}

// **********************************px单位********************************** //

.ft-22 {
  font-size 0.293rem;
}

.ft-24 {
  font-size 0.32rem;
}

.ft-26 {
  font-size 0.347rem;
}

.ft-28 {
  font-size 0.373rem;
}

.ft-30 {
  font-size 0.4rem;
}

.ft-32 {
  font-size 0.427rem;
}

.ft-34 {
  font-size 0.453rem;
}

.ft-35 {
  font-size 0.35rem;
}

.ft-36 {
  font-size 0.48rem;
}

.ft-38 {
  font-size 0.507rem;
}

.ft-40 {
  font-size: 0.533rem;
}

// **********************************rem单位********************************* //

.ft-29r {
  font-size 0.293rem;
}

.ft-32r {
  font-size 0.32rem;
}

.ft-35r {
  font-size 0.347rem;
}

.ft-37r {
  font-size 0.373rem;
}

.ft-40r {
  font-size 0.4rem;
}

.ft-43r {
  font-size 0.427rem;
}

.ft-45r {
  font-size 0.453rem;
}

.ft-48r {
  font-size 0.48rem;
}

.ft-51r {
  font-size 0.507rem;
}

.ft-53r {
  font-size: 0.533rem;
}

.ft-67r {
  font-size: 0.67rem;
}

.color-333333 {
  color: #333333
}

.color-999999 {
  color: #999999;
}

.color-333 {
  color: #333;
}

.color-666 {
  color: #666;
}

.color-999 {
  color: #999;
}

.color-BDBDBD {
  color: #BDBDBD
}

.color-CCC {
  color: #cccccc;
}

.color-fff {
  color: #fff;
}

.color-FA6F31 {
  color: #FA6F31;
}

.color-0096FF {
  color: #0096FF;
}

.color-099AFF {
  color: #099AFF
}

.color-2F9B60 {
  color: #2F9B60;
}

.color-E53935 {
  color: #E53935;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.one-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

// cube-ui时间选择器样式覆盖
.cube-picker-wheel-wrapper > div {
  font-size: 0.37rem !important;
}

.cube-picker-title-group {
  font-size: 0.47rem !important;
}

// cube-ui Dialog样式覆盖
.cube-dialog-title {
  font-size .43rem !important;
}

.cube-picker-wheel-item {
  font-size: 0.4rem !important;
  height .8rem !important;
}

.cube-dialog-main {
  width 100% !important;
  border-radius .43rem !important;
}

.cube-dialog-content {
  margin .64rem .37rem !important;
  font-size .4rem !important;
  line-height 110% !important;
}

.cube-dialog-btn {
  font-size .43rem !important;
  padding .37rem !important;
}

//index-list样式覆盖
.cube-index-list-title {
  font-size .40rem !important;
  text-align left !important;

}

.cube-index-list-nav-item {
  font-size .32rem !important;
  margin-bottom .2rem !important;
}

.cube-index-list-nav-item.active {
  color #0d89f5 !important;
  font-weight 900 !important;
  font-size .4rem !important;
  //background-color #0d89f5 !important;
  //border-radius 50% !important;
}

.cube-index-list-anchor {
  font-size .4rem !important;
  padding .32rem !important;
  text-align left !important;
}

.cube-safe-area-pb .cube-picker-choose span {
  font-size: 0.37rem !important;
}

.cube-picker-panel {
  height: 4.8rem !important
}

.cube-picker-content {
  top: 25px !important
}

.cube-picker-choose {
  height: 1.17rem;
  display: flex;
  flex-direction: row;
  justify-content space-around
  align-items center
}

.cube-safe-area-pb .cube-picker-choose h1 {
  font-size: 0.40rem !important;
}

.mint-tab-item-icon {
  width: 1.32rem;
  height: auto;
  margin: 0 auto 0.066667rem;
}

.mintui {
  font-family: "mintui" !important;
  font-size: 35px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.cube-scroll-content {
  z-index: 0 !important;
}

.mintui-search:before {
  content: "\E604";
}

.mintui-more:before {
  content: "\E601";
}

.mintui-back:before {
  content: "\E600";
}

.mintui-field-error:before {
  content: "\E605";
}

.mintui-field-warning:before {
  content: "\E608";
}

.mintui-success:before {
  content: "\E602";
}

.mintui-field-success:before {
  content: "\E609";
}

.mint-toast-text {
  font-size .42rem !important;
}

.mint-toast {
  padding .32rem !important;
  border-radius 0.08rem !important;
  background: rgba(0, 0, 0, 0.6);
}

.mint-tab-item-label {
  font-size .37rem !important;
}
